.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wordDisplay {
  margin: 20px;
  width: 500px;
}

.letterDisplay {
  font-size: 25px;
  margin: 5px;
}

.graphic {
  width: 500px;
}

.letter {
  margin: 3px !important;
  padding: 6px !important;
  font-size: 15px !important;
}

.appBar {
  padding: 10px 0px 10px 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.keyboard {
  width: 500px;
  margin-top: 20px;
}
